@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #64748b;
}

body {
  user-select: none;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
  }
}
